<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="n1">
		<section v-model="opt">
			<option value="+">+</option>
			<option value="-">-</option>
			<option value="*">*</option>
			<option value="/">/</option>
		</section>
		<input type="text" v-model="n2">
		<input type="button" value="=" v-on:click="calc">
		<input type="text" v-model="result">
	</div>

	<script>
		var vm = new Vue({
			el:'#app',
			data: {
				n1: 0,
				n2: 0,
				opt: '*',
				result: 0
			},
			methods: {
				calc() {
					// 逻辑判断
					switch(this.opt) {
						case '+':
						this.result = parseInt(this.n1) + parseInt(this.n2);
						break;
						case '-':
						this.result = parseInt(this.n1) - parseInt(this.n2);
						break;
						case '*':
						this.result = parseInt(this.n1) * parseInt(this.n2);
						break;
						case '/':
						this.result = parseInt(this.n1) / parseInt(this.n2);
						break;
					}
				}
			}
		})
	</script>
</body>
</html>